{% extends 'calendar_template.html' %}
{% block main %}
<legend>Associate Recipe with Date</legend>
<form id="date_recipe" class="form-horizontal">
	{% csrf_token %}
	<div class="control-group">
		<label class="control-label" for="calendar_date">Date:</label>
		<div class="controls">
			<input type="text" id="calendar_date" name="calendar_date"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="calendar_recipe">Recipe:</label>
		<div class="controls">
			<select id="calendar_recipe" name="calendar_recipe">
				{% for recipe in recipes %}
				<option>{{recipe.title}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</form>
<div class="btn" id="calendar_submit">Save</div>
{% endblock %}
